body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 41, 49) !important;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.form-container {
    background: rgb(71, 84, 100);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 800px;
}

.form-container h2 {
    color: white !important;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: left;
    color: white !important;
}

input, select {
    width: calc(100% - 20px);
    padding: 12px;
    margin-top: 5px;
    border: 1px solid rgb(55, 66, 80);
    border-radius: 6px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(55, 66, 80);
    color: white;
}

input::placeholder, select {
    color: rgb(200, 200, 200);
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-btn {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    display: inline-block;
}

.submit-btn:hover {
    background: #218838;
}

#grid-container {
    max-width: 90%;
    margin: auto;
}
