body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 41, 49) !important;
    margin: 0;
    padding: 0;
    padding-top: 200px;
    padding-bottom: 200px;
}

.welcome-container {
    max-width: flex;
    margin: 0 auto 40px auto;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    color: white;
}

.welcome-container h1 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffffff;
}

.welcome-container h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ffffff;
}

.welcome-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: rgb(220, 220, 220);
}

.welcome-container ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.welcome-container li {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(220, 220, 220);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 41, 49) !important;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-left: 90px;
    padding-bottom: 25px;
    padding-top: 40px;
}

#grid-container {
    max-width: 90%;
    margin: auto;
}

.gridjs-search input {
    background-color: rgb(71, 84, 100);
    color: white;
    border: 1px solid rgb(55, 66, 80);
    padding: 8px;
    border-radius: 4px;
}

.gridjs-search input::placeholder {
    color: rgb(200, 200, 200);
}

.gridjs-search input:focus {
    outline: none;
    border: 1px solid white;
}

.gridjs-footer {
    background: rgb(71, 84, 100) !important;
    color: rgb(34, 41, 49) !important;
    padding: 12px;
    border-top: 1px solid rgb(55, 66, 80) !important;
}

.gridjs-summary {
    color: rgb(34, 41, 49) !important;
    font-weight: bold;
}


.gridjs-pages button {
    background: rgb(71, 84, 100) !important;
    color: rgb(34, 41, 49) !important;
    border: 1px solid rgb(55, 66, 80) !important;
    padding: 6px 12px;
    border-radius: 4px;
}

.gridjs-pages button[disabled] {
    background: rgb(55, 66, 80) !important;
    color: rgb(34, 41, 49) !important;
}