body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 41, 49) !important;
    margin: 0;
    padding: 0;
    padding-top: 200px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 41, 49) !important;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-left: 90px;
    padding-bottom: 25px;
    padding-top: 40px;
}

#grid-container {
    max-width: 90%;
    margin: auto;
}

.gridjs-search input {
    background-color: rgb(71, 84, 100);
    color: white;
    border: 1px solid rgb(55, 66, 80);
    padding: 8px;
    border-radius: 4px;
}

.gridjs-search input::placeholder {
    color: rgb(200, 200, 200);
}

.gridjs-search input:focus {
    outline: none;
    border: 1px solid white;
}

.gridjs-footer {
    background: rgb(71, 84, 100) !important;
    color: rgb(34, 41, 49) !important;
    padding: 12px;
    border-top: 1px solid rgb(55, 66, 80) !important;
}

.gridjs-summary {
    color: rgb(34, 41, 49) !important;
    font-weight: bold;
}


.gridjs-pages button {
    background: rgb(71, 84, 100) !important;
    color: rgb(34, 41, 49) !important;
    border: 1px solid rgb(55, 66, 80) !important;
    padding: 6px 12px;
    border-radius: 4px;
}

.gridjs-pages button[disabled] {
    background: rgb(55, 66, 80) !important;
    color: rgb(34, 41, 49) !important;
}

.navbar {
    background: rgb(71, 84, 100);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;
}

.navbar .logo-container {
    width: 500px;
    height: 110px;
    overflow: hidden;
    padding-bottom: 30px;
}

.navbar .logo-container img {
    width: 500px;
    height: auto;
    object-fit: cover;
}

.navbar .button-container {
    display: flex;
    gap: 8px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin: 0 12px;
    background: rgb(71, 84, 100);
    transition: background 0.3s, transform 0.2s;
}

.navbar a:hover {
    background: rgb(55, 66, 80);
}

.navbar a.log-btn {
    background: #28a745;
}

.navbar a.log-btn:hover {
    background: #218838;
}